div {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    border-radius: 5px;
    margin: 50px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
}

.info {
    color: red;
    font-style: italic;
}

ul {
    color: green;
    font-weight: bold;
}

.note {
    color: orangered;
    background-color: yellow;
    font-size: 20px;
}